@model LinJiaYou.Models.Shop

@{
    ViewBag.Title = "Details";
}
<style>
    .logo {
        width: 360px;
        height: 300px;
        background: url(/Content/svg/circle.svg);
        background-size: 142px 93px;
        border: 1px solid;
        background-position-y: 60px;
        background-position-x: 30px;
        background-repeat: no-repeat;
    }
</style>
<div  class="logo">
     <canvas id="myCanvas" width="120" height="80" style="border:1px solid #00ff90">
         your browser does not support the canvas element.
     </canvas>
</div>
@*<a href="/" class="logo"> Kiwi Corp </a>*@
@*<embed src="~/Content/svg/circle.svg" width="300" height="100" type="image/svg+xml" pluginspage="http://www.adobe.com/svg/viewer/install/" />*@
<script>
    var c = document.getElementById("myCanvas");
    var cxt = c.getContext("2d");
    cxt.moveTo(10, 10);
    cxt.lineTo(30, 30);
    cxt.lineTo(50, 50);
    cxt.lineTo(10,50);
    cxt.stroke();
</script>